@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-base-900 text-slate-200 font-sans antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #30364a;
  border-radius: 4px;
}

.panel {
  @apply bg-base-800 border border-border rounded-lg;
}

.flash-up {
  animation: flash-up 500ms ease-out;
}

.flash-down {
  animation: flash-down 500ms ease-out;
}
